layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="aide watch" cwd="/Users/dokkora/work/NoRedInk" focus=true {
      pane split_direction="vertical" {
          pane cwd="monolith"
          pane cwd="monolith"
      }
      pane split_direction="vertical" {
          pane cwd="rostering"
          pane cwd="contento"
      }
    }
}
